<div id="accountInformations" class="connectionDiv" style="display:none">
    <h3>Here are the information about this one</h3>
    <label for="firstname" class="labelConnection">Firstname</label><br>
    <input type="text" id="firstname" placeholder="Firstname" value=""/><br><br><br>
    <label for="lastname" class="labelConnection">Lastname</label><br>
    <input type="text" id="lastname" placeholder="Lastname" value=""/><br><br><br>
    <label for="age" class="labelConnection">Age</label><br>
    <input type="text" id="age" placeholder="age" value=""/><br><br>
    <label for="password" class="labelConnection">Password</label><br>
    <input type="password" id="password" placeholder="password" value=""/><br><br>
</div>