
<div class="signin-form">

    <form>
        <h1>Créer un compte</h1>
        <div class="content">
            <div class="input-field">
                <input type="text" name="lastname" id="lastname" placeholder="nom de famille" />
            </div>
            <div class="input-field">
                <input type="text" name="firstname" id="firstname" placeholder="prénom" />
            </div>
            <div class="input-field">
                <input type="number" name="age" id="age" placeholder="âge" />
            </div>
        </div>
        <div class="action">
            <a id="signinbtn" (click)="signin()"><button>Créer compte</button></a>
            <a ><button id="backBtn" (click)="back()"> Retour </button></a>
        </div>
    </form>

</div>